{% load static %}
{% load cloudinary %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-8 text-md-center">
				<p class="text-muted"> &copy 2022 BikerShop</p>
				<span  class="px-2"><a href="https://www.privacypolicygenerator.info/live.php?token=v2b4D8jawLWdFxvr0dJ6bNF6RJfdYNnx" target="_blank" rel="noopener"
					aria-label="Privacypolicy (opens in a new tab)"><i>Privacy Policy</i></a></span>
			</div>
			<div class="col-md-8 text-md-center">
				<p class="text-muted"><!-- Begin Mailchimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
					
					<div id="mc_embed_signup">
						<form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=224f8edbac9f2a2decbc5d41e&amp;id=7d10f1a449&amp;f_id=00abc2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">		
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" placeholder="email address" id="mce-EMAIL" required>
						<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
						<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					</div>
						<div id="mce-responses" class="clear foot">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_224f8edbac9f2a2decbc5d41e_7d10f1a449" tabindex="-1" value=""></div>
							<div class="optionalParent">
								<div class="clear foot">
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
									<p class="brandingLogo"><a href="http://eepurl.com/ieKHuD" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp"></a></p>
								</div>
							</div>
						</div>
					</form>
					</div>
					
					<!--End mc_embed_signup--></p>
				
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2"><a href="https://www.bornfreeshow.com/" target="_blank" rel="noopener"
					aria-label="bornfree (opens in a new tab)"><i>BornFree</i></a></span>
				<span  class="px-2"><a href="https://www.lowbrowcustoms.com/" target="_blank" rel="noopener"
					aria-label="Lowbrow (opens in a new tab)"><i>LowBrow</i></a></span>
				<span  class="px-2"><a href="https://www.louis.ie/en/" target="_blank" rel="noopener"
					aria-label="Louis (opens in a new tab)"><i>Louis</i></a></span>
				<span  class="px-2"><a href="https://zodiac.nl/" target="_blank" rel="noopener"
					aria-label="Zodiac (opens in a new tab)"><i>Zodiac</i></a></span>
			</div>

		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>


</body>
</html>