{% load cloudinary_static %}
{% load static %}
{% load cloudinary %}

<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="max-age=604800" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Buy motorcycle gear, and new, used parts online">
	<meta name="keywords" content="parts, used parts, riding gear, motorbike, motorcycle, jacket, pants, t-shirt">

	<title>BikerShop | From Bikers to Bikers</title>
	

	<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
	<!--<link rel="stylesheet" href="{% static 'images/favicon.ico' %}">-->

	<!-- jQuery -->
	<script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
	<!--<link rel="stylesheet" href="{% static 'js/jquery-2.0.0.min.js' %}">-->


	<!-- Bootstrap4 files-->
	
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
	<!--<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">-->


	<!-- Font awesome 5 -->
	<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" rel="stylesheet">
	<!--<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/all.min.css' %}">-->

	<!-- custom style -->
	<link href="{% static 'css/ui.css' %}" rel="stylesheet" />
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
	<!--<link rel="stylesheet" href="{% static 'css/ui.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">-->

	<!--<link href="{% static 'css/custom.css' %}" rel="stylesheet" />-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">


	<!-- custom javascript -->
	<!--<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'js/script.js' %}">-->
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

	<!-- PayPal script -->
	<script
		src="https://www.paypal.com/sdk/js?client-id=AUaS_iUYgDleXGRyxizKgT9y3f95X0-DP0YCEv76fclBbdHSP_jMagjISZSX7oF3yhlFQ6fdLc7hp2s2&currency=EUR">
	</script>

	<script>
		/// some script

		// jquery ready start
		$(document).ready(function () {
			// jQuery code

		});
		// jquery end
	</script>


</head>

<body>
	

	<!-- navbar -->
	{% include 'includes/navbar.html' %}

	{% block content %}
	<!-- content -->
	{% endblock %}


	<!-- footer -->
	{% include 'includes/footer.html' %}
	<!--mailchimp-->
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
	<script type='text/javascript'>
		(function ($) {
			window.fnames = new Array();
			window.ftypes = new Array();
			fnames[0] = 'EMAIL';
			ftypes[0] = 'email';
			fnames[1] = 'FNAME';
			ftypes[1] = 'text';
			fnames[2] = 'LNAME';
			ftypes[2] = 'text';
			fnames[3] = 'ADDRESS';
			ftypes[3] = 'address';
			fnames[4] = 'PHONE';
			ftypes[4] = 'phone';
			fnames[5] = 'BIRTHDAY';
			ftypes[5] = 'birthday';
		}(jQuery));
		var $mcj = jQuery.noConflict(true);
	</script>